{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["module-resolver", {
      "alias": {
        // Treat imports from '../lib/...' as 'lib/...' (relative to project root)
        "../lib": "./lib"
      }
    }]
  ]
}
