node_modules
*.lock
package-lock.json
lib/*
!lib/generator.js
!lib/pseudocodeToProject.js
.antlr
*.jar
pm-blocks
*.pmp
project.json
vscode-pang
*.json
!package.json
*.pang
!test.pang
!test_arrow.pang
!test_class.pang
!test_array.pang
!advanced_demo.pang
vm.js
dogeiscutObjects.js
!tests/**
