# Exclude development-only files from packaged VSIX.
# We include the bundled server in server/dist; exclude other server files.
node_modules/**
scripts/**
server/**
!server/dist/**
npm-debug.log
.yarnrc
.vscode/**
.git/**
.vs/**
*.vsix
*.log
.idea/**
/.husky/**
coverage/**
